<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link href="/js/CodeSeven-toastr-50092cc/build/toastr.css" rel="stylesheet" >
    <script src="/js/CodeSeven-toastr-50092cc/build/toastr.min.js"></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.css" ></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.js" ></script>
    <script src="/js/changeBindEmail/1.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/main.css">
    <script type="text/javascript">
        toastr.options = {
            positionClass: 'toast-top-center',
        };
    </script>
</head>
<body>
<nav class="navbar  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <h5 class="title flag" th:text="${TitleEdit.getTitle1()}"></h5>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <a  th:href="@{/index}"  th:method="POST" th:type="post"><h5 class="title"><strong>Home</strong></h5></a>
               </li>
                <li>
                   <a  th:href="@{/people}"  th:method="POST" th:type="post"><h5 class="title"><strong>People</strong></h5></a>
               </li>
                <li>
                   <a  th:href="@{/products}"  th:method="POST" th:type="post"><h5 class="title"><strong>Products</strong></h5></a>
               </li>
           <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <h5 class="title"><strong>Projects<b class="caret"></b></strong></h5>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="/projects/all">所有项目</a></li>
                       <li><a href="/projects/researchProject">科研项目</a></li>
                       <li><a href="/projects/threesmallProject">三小项目</a></li>
                       <li><a href="/projects/hengProject">横向项目</a></li>
                   </ul>
               </li>
               <li>
                   <a  th:href="@{/news}"  th:method="POST" th:type="post"><h5 class="title"><strong>News</strong></h5></a>
               </li>
               <li>
                   <a  th:href="@{/papers}"  th:method="POST" th:type="post"><h5 class="title"><strong>Papers</strong></h5></a>
               </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row bg">
    <div class="container  ">
        <div class="projects-header page-header text-center">
            <h2 style="color: white">邮箱校验</h2>
        </div>
        <div class="well">
            <form th:action="@{/emailvalidator}" id="PasswordForm" onsubmit="return false" class="form-horizontal" role="form" th:method="post" enctype="multipart/form-data" >
                <div style="display:none">
                    <input name="flag" value="true"/>
                </div>
                <!--***********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>Email:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="email" name="email" placeholder="请输入原来Email"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--***********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="vcode" name="vcode" placeholder="请输入验证码"/>
                    </div>
                    <div class="col-sm-1">
                        <input class="btn btn-info" onclick="form_check(this,1)" value="获取验证码" size="8" maxlength="6"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-5 control-label"></label>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-lg btn-block"  onclick="form_check(null,2)" >确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>