
<!--注册页面-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.css" ></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.js" ></script>
    <link href="/js/CodeSeven-toastr-50092cc/build/toastr.css" rel="stylesheet" >
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/CodeSeven-toastr-50092cc/build/toastr.min.js"></script>
    <script type="text/javascript" src="/js/admins/bootstrapValidate.js"></script>
    <script type="text/javascript" src="/js/registry/BasicInformationForm.js"></script>
    <script type="text/javascript" src="/js/admins/jquery.form.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/main.css">
    <script type="text/javascript" th:inline="javascript">
        //恢复单选按钮状态
        $(document).ready(function(){
            document.getElementById("teachername").value="null";
            if([[${sex_value}]]=="woman")
            {
                $("#woman").attr("checked",true);
            }
            if([[${sex_value}]]=="man"){
                $("#man").attr("checked",true);
            }
            if([[${identity_value}]]=="teacher")
            {
                $("#teacher").attr("checked",true);
                document.getElementById("teachername").value="null";
                $("#teachername_div").hide();

            }
            if([[${identity_value}]]=="student")
            {
                $("#student").attr("checked",true);
                $("#teachername_div").show();
            }
            $("#birthDate").datetimepicker({
                format: 'YYYY-MM-DD',
                 minDate: new Date( new Date()-1000*24*60*60*365*100),
                 maxDate : new Date(),
                locale: moment.locale('zh-cn'),

            });
            $('input[name="identity"]').click(function(){
                if($(this).val()=="teacher"){
                    document.getElementById("teachername").value="null";
                    $("#teachername_div").hide();
                }
                if($(this).val()=="student"){
                    $("#teachername_div").show();
                }
            });
        });
        toastr.options = {
            positionClass: 'toast-top-center',              // 设置提示款显示的位置
        };
    </script>
    <style>
      .container{
      padding-top: 2%;
      }
</style>
</head>
<body>
<nav class="navbar  navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <h5 class="title flag" th:text="${TitleEdit.getTitle1()}"></h5>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  th:href="@{/index}"  th:method="POST" th:type="post"><h5 class="title"><strong>Home</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/news}"  th:method="POST" th:type="post"><h5 class="title"><strong>News</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/papers}"  th:method="POST" th:type="post"><h5 class="title"><strong>Papers</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/people}"  th:method="POST" th:type="post"><h5 class="title"><strong>People</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/products}"  th:method="POST" th:type="post"><h5 class="title"><strong>Products</strong></h5></a>
                </li>
                <li>
                    <a th:href="@{/projects}"  th:method="POST" th:type="post"><h5 class="title"><strong>Projects</strong></h5></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row bg">
    <div class="container  ">
        <div class="projects-header page-header text-center">
            <h2 style="color: white">完善个人信息</h2>
        </div>
        <div class="well">
            <form th:action="@{/registry/fillbasicinformationvalidator}" id="BasicInformationForm" onsubmit="return false" class="form-horizontal" role="form" th:method="post" enctype="multipart/form-data" >
                <div style="display:none">
                    <input name="flag" value="true"/>
                </div>
                <div class="form-group ">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>用户名:</label>  <!--placeholder="frank"  -->
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" name="username" placeholder="长度为4~16字母,数字,下划线,组成的字符串"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>密码:</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password"  name="password" placeholder="长度为4~16字母,数字,下划线,组成的字符串"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                    <!--**************************************************************************************************************-->
                </div>
                <!--******************************************************************************************-->
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color:red">*</span>出生日期:</label>
                    <div class='col-sm-5'>
                        <input type='text' class="form-control" id='birthDate'  name="birthDate"  placeholder="请选择你的出生日期"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
            <!--*************************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>姓名:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" name="name"  placeholder="请输入真实姓名"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group" id="registered_sex">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>性别:
                    </label>
                    <div class="col-sm-5" >
                        <label class="radio-inline">
                            <input type="radio" value="man" name="sex"  id="man" checked />男性
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="woman" name="sex" id="woman" />女性
                        </label>
                    </div>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>电话:</label>
                    <div class="col-sm-5">
                        <input type="number" size="16" class="form-control" id="tel" name="tel"  placeholder="请输入电话号码" />
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>籍贯:</label>
                    <div class="col-sm-5">
                        <input type="text" size="16" class="form-control" id="birthplace" name="birthplace"  placeholder="请输入籍贯" />
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>

                <!--**********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>目前所在高校:</label>
                    <div class="col-sm-5">
                        <input  size="16" class="form-control" id="school" name="school"  placeholder="请输入目前所在高校" />
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group" id="registered_identity">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>身份:
                    </label>
                    <div class="col-sm-5" >
                        <label class="radio-inline">
                            <input type="radio" value="teacher" id="teacher" name="identity" checked/>老师
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="student" id="student" name="identity">学生
                        </label>
                    </div>
                </div>
                <!--******************************************************************************************************************-->
                <div class="form-group " style="display: none"  id="teachername_div">
                    <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>指导老师:</label>
                    <div class="col-sm-5">
                        <input  size="16" class="form-control" id="teachername" name="teachername"  placeholder="请输入老师名字"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--******************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>研究方向:</label>
                    <div class="col-sm-5">
                        <input  size="16" class="form-control" id="research_direct" name="research_direct"  placeholder="请输入研究方向"/>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>个人图像:</label>
                    <div class="col-sm-5">
                        <input  type="file"  class="from-control" id="file" name="file" />
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>个人简介:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="5" id="details" name="self_introduction" placeholder="自我描述(身份,目前所在高校,研究方向,座右铭等)100字左右"></textarea>
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" ></label>
                </div>
                <!--**********************************************************************************************************************-->
                <div class="form-group">
                    <label for="" class="col-sm-5 control-label"></label>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-lg btn-block" type="reset">重置</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-lg btn-block"  onclick="form_check();" >确认</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>