<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.css" ></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.js" ></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/bootstrapValidate.js"></script>
     <link href="/js/CodeSeven-toastr-50092cc/build/toastr.css" rel="stylesheet" >
        <script src="/js/CodeSeven-toastr-50092cc/build/toastr.min.js"></script>
    <script  src="/js/admins/login_check.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/main.css">
    <script type="text/javascript" src="/js/admins/jquery.form.js"></script>
    <script type="text/javascript">
       toastr.options = {
                positionClass: 'toast-top-center',              // 设置提示款显示的位置
            };
</script>
</head>
<body>
<nav class="navbar  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li>
                     <h5 class="title flag" th:text="${TitleEdit.getTitle1()}"> </h5>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  th:href="@{/index}"  th:method="POST" th:type="post"><h5 class="title"><strong>Home</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/login}"  th:method="POST" th:type="post"><h5 class="title"><strong>News</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/papers}"  th:method="POST" th:type="post"><h5 class="title"><strong>Papers</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/people}"  th:method="POST" th:type="post"><h5 class="title"><strong>People</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/products}"  th:method="POST" th:type="post"><h5 class="title"><strong>Products</strong></h5></a>
                </li>
                <li>
                    <a th:href="@{/projects}"  th:method="POST" th:type="post"><h5 class="title"><strong>Projects</strong></h5></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row bg">
    <br> <br> <br> <br>
    <div class="container  ">
        <div class="projects-header page-header text-center">
            <h2 style="color: white">用户登录</h2>
        </div>
        <div class="well">
            <br>
            <form th:action="@{/login_valid}" onsubmit="return false" id="loginForm" class="form-horizontal" role="form" th:method="POST" enctype="multipart/form-data" >
                <div style="display:none">
                    <input name="flag" value="true">
                </div>
                <div class="form-group ">
                    <label for="" class="col-sm-4 control-label">用户名:</label>  <!--placeholder="frank"  -->
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" th:text="${errorstatus}"></label>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">密码:</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                    </div>
                    <label for="" class="col-sm-0 control-label" style="color: red" th:text="${errorstatus}"></label>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"></label>
                    <div class="col-md-5">
                        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="login_check()">登录</button>
                    </div>
                </div>
                <div>
                    <label for="" class="col-sm-7 control-label"></label>
                    <div class="col-md-5">
                        <a th:href="@{/ForgetOrChangePassword}">忘记密码?</a><br><a th:href="@{/registry}">没有账号?立即注册</a>
                        <br><a th:href="@{/registry/fillbasicinformation}">我已经注册,没有完善个人信息</a>
                    </div>
                </div>
                <br><br><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>