<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Papers • TDY</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://span.ece.utah.edu/css/material.css">
    <link rel="stylesheet" href="http://span.ece.utah.edu/css/main.css">
</head>
  <body>
 <header class="site-header">
  <div class="wrapper">
    <a class="" href="">&nbsp;</a> <span>南昌航空大学 • TDY</span>
    <nav class="site-nav">
     <div >
         <ul class="nav navbar-nav">
            <li ><a href="/index">Home</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/products">Products</a></li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Projects
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li><a href="/projects/all">所有项目</a></li>
                     <li><a href="/projects/research_project">科研项目</a></li>
                     <li><a href="/projects/three_small">三小项目</a></li>
                     <li><a href="/others">横向项目</a></li>
                 </ul>
             </li>
            <li><a href="/news">News</a></li>
             <li><a href="/papers">Papers</a></li>
         </ul>
       </div>
    </nav>
  </div>
</header>
    <div class="page-content">
      <div class="wrapper">
    <div th:each="key : ${model.hashMap}">
    <p> <h3 th:text="${key.key}">  </h3> </p>
      <ul th:each="paper : ${key.value}">
        <li>
           <p th:text="${paper.title}">
           </p>
           <a th:href="${paper.path}" target="_blank">查看原文</a>
         </li>
     </ul>
   </div>
  </div>
 </div>
  </body>
</html>
