<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Papers • TDY</title>
    <meta name="description" content="The Sensing and Processing Across Networks (SPAN) Lab at the University of Utah develops new  technologies at the intersection of wireless networking, radio propagation, and signal processing.  The SPAN Lab has been at the forefront of the development of the use of standard wireless devices for the purpose of monitoring the state of the environment, for example, for localization and tracking, breathing monitoring, and context awareness, and to provide increased reliability and security for wireless networks.
">

    <link rel="stylesheet" href="http://span.ece.utah.edu/css/material.css">
    <link rel="stylesheet" href="http://span.ece.utah.edu/css/main.css">

    <link rel="canonical" href="http://span.ece.utah.eduhttp://span.ece.utah.edu/papers.html">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <!-- <script src="./material.min.js"></script> -->

    <link rel="apple-touch-icon" sizes="57x57" href="http://span.ece.utah.eduicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://span.ece.utah.eduicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://span.ece.utah.eduicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://span.ece.utah.eduicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://span.ece.utah.eduicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://span.ece.utah.eduicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://span.ece.utah.eduicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://span.ece.utah.eduicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://span.ece.utah.eduicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="http://span.ece.utah.eduicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://span.ece.utah.eduicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://span.ece.utah.eduicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://span.ece.utah.eduicon/favicon-16x16.png">
    <link rel="manifest" href="http://span.ece.utah.eduicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://span.ece.utah.eduicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
  <body>
    <header class="site-header">
  <div class="wrapper">
    <a class="" href="">&nbsp;</a> <span>南昌航空大学 • TDY</span>
    <nav class="site-nav">
      <div class="trigger">
         <a class="page-link" href="/index">Home</a>
         <a class="page-link" href="/people">People</a>
         <a class="page-link" href="/products">Products</a>
         <a class="page-link" href="/projects">Projects</a>
         <a class="page-link" href="/news">News</a>
         <a class="page-link" href="/papers">Papers</a>
      </div>
    </nav>
  </div>
</header>
    <div class="page-content">
      <div class="wrapper">
    <div th:each="key : ${model.hashMap}">
    <p> <h3 th:text="${key.key}">  </h3> </p>
      <ul th:each="paper : ${key.value}">
        <li>
           <p th:text="${paper.title}">
           </p>
           <a th:href="${paper.path}" target="_blank">查看原文</a>
         </li>
     </ul>
   </div>
  </div>
 </div>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
