<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>自定义标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="/js/admins/jquery.form.js"></script>
    <script type="text/javascript">
        function saveReport() {
            $("#TitleEditForm").ajaxSubmit(function(message) {
                swal({
                     title: "修改成功",
                     text: "",
                     icon: "success",
                      button: "确定",
                    });
            });
            return false; // 必须返回false,否则表单会自己再做一次提交操作,并且页面跳转
        }
    </script>
</head>
<div class="row">
       <div class="col-lg-12">
           <h1 class="page-header">自定义标题</h1>
       </div>
</div>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
               <div class="panel panel-default">
                <div class="panel-heading">
                    自定义标题
                </div>
         <div class="panel-body">
            <div class="row">
                <br><br>
                <div class="col-md-7 col-md-offset-3">
                <form th:action="@{/title_edit/edit}" id="TitleEditForm"  onsubmit="return saveReport();" class="form-horizontal" role="form" th:method="post" enctype="multipart/form-data" >
                    <div style="display:none">
                        <input name="id" th:value="${TitleEdit.getId()}"/>
                    </div>
                    <!--#######################################################################-->
                    <div class="form-group ">
                        <label for="" class="col-sm-2 control-label"><span style="color: red">*</span>左上角标题:</label>  <!--placeholder="frank"  -->
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="title1" name="title1" th:value="${TitleEdit.getTitle1()}" placeholder="请输入要显示内容"/>
                        </div>
                    </div>
                    <!--**************************************************************************************************************-->
                    <div class="form-group ">
                        <label for="" class="col-sm-2 control-label"><span style="color: red">*</span>主标题:</label>  <!--placeholder="frank"  -->
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="title2" name="title2" th:value="${TitleEdit.getTitle2()}" placeholder="请输入要显示内容"/>
                        </div>
                    </div>
                        <!--**************************************************************************************************************-->
                    <div class="form-group ">
                        <label for="" class="col-sm-2 control-label"><span style="color: red">*</span>副标题:</label>  <!--placeholder="frank"  -->
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="title3" name="title3" th:value="${TitleEdit.getTitle3()}" placeholder="请输入要显示内容"/>
                        </div>
                    </div>
                    <!--******************************************************************************************-->
                        <div class="form-group ">
                            <label for="" class="col-sm-2 control-label"><span style="color: red">*</span>副标题:</label>  <!--placeholder="frank"  -->
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="title4" name="title4" th:value="${TitleEdit.getTitle4()}" placeholder="请输入要显示内容"/>
                            </div>
                        </div>
                    <!--*********************************************************************************************-->
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"></label>
                        <div class="col-md-2">
                            <button class="btn btn-default btn-lg btn-block" type="reset">重置</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-lg btn-block"  type="submit" >保存</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>