<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/js/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.standalone.css" title="" rel="stylesheet"/>
       <script src="/js/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
       <script src="/js/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.zh-CN.min.js" type="text/javascript"></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.css" ></script>
    <script src="/js/bootstrapValidate/bootstrapValidator.js" ></script>
    <script type="text/javascript" src="/js/admins/jquery.form.js"></script>
     <script type="text/javascript" src="/js/paper/1.js"></script>
     <script th:inline="javascript">
      $(document).ready(function(){
            // $("#publish_date").datetimepicker({
            //       format: 'YYYY-MM-DD',
            //        minDate: new Date( new Date()-1000*24*60*60*365*100),
            //        maxDate : new Date(),
            //       locale: moment.locale('zh-cn'),
            //   });


            $("#publish_date").datepicker({
                language: "zh-CN",
                autoclose: true,//选中之后自动隐藏日期选择框
                clearBtn: true,//清除按钮
                format: "yyyy-mm-dd" ,//日期格式
            });
               if([[${paperSet}]]==true){
                   swal({
                          title: "操作成功",
                          text: "",
                          icon: "success",
                          button: "确定",
                      });
              }
           });
     </script>
   <style type="text/css">
    td {
      white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
   }
</style>
</head>
 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">论文中心</h1>
    </div>
</div>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <p><!--data-toggle="modal" data-target="#myModal"-->
                <button class="btn btn-primary btn-add"  type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;新增论文</button>
                <button class="btn btn-info btn-upd" type="button">
                    <span class="glyphicon glyphicon-pencil"></span>编辑</button>
                <button class="btn btn-danger btn-del" type="button" onclick="deletePaper();">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;删除
                </button>

                 <button th:if="${role} eq 'admin'" class="btn btn-success btn-paper-set" type="button" onclick="paperSet();">
                    <span class="" aria-hidden="true"></span>&nbsp;置顶Paper
                 </button>
            </p>
             <div class="panel panel-default">
                  <div class="panel-heading">
                   论文列表
                  </div>
               <div class="panel-body">
             <div class="sk-three-bounce text-center" id="sk-three-bounce">
                 <div class="sk-child sk-bounce1"></div>
                 <div class="sk-child sk-bounce2"></div>
                 <div class="sk-child sk-bounce3"></div>
             </div>
            <table class="table table-bordered table-hover table-striped"  style="table-layout: fixed;" >
                <thead>
                <tr>
                    <th class="col-md-1"><input type="checkbox" id="mainCheckbox"></th>
                    <th class="col-md-1">编号</th>
                    <th class="col-md-5">标题</th>
                    <th class="col-md-1">原文链接</th>
                    <th class="col-md-2">发表时间</th>
                    <th class="col-md-2">上传日期</th>
                </tr>
                </thead>
                <tbody>
                <div th:if="${hasPaper} eq false">
                  <tr>
                   <td colspan="5">
                     <h1 class="text-center" style="color: #d2322d">你还没有添加任何论文哦,立即添加一篇吧</h1>
                   </td>
                  </tr>
                </div>
                  <tr th:each="paper : ${model.list}">
                      <td><input type="checkbox" class="cb" th:attr="id=${paper.id},title=${paper.title},value=${paper.path}" ></td>
                      <td id="user" th:attr="username=${paper.username}" th:text="${paper.id}"></td>
                      <td th:title="${paper.title}" th:text="${paper.title}"></td>
                      <td th:if="${paper.path ne null}"><a th:href="${paper.path}" target="_blank">查看原文</a></td>
                      <td th:if="${paper.path} eq null">无</td>
                      <td th:text="${paper.getPublishDate()}"></td>
                      <td th:text="${paper.date}"></td>
                  </tr>
             </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel" >
                     上传论文
                </h4>
            </div>
            <div class="modal-body">
                <form id="upForm" th:action="@{/upload/paper}" target="frameName" onsubmit="return false" class="form-horizontal" role="form" method="post" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">标题:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="title" name="title"  placeholder="论文标题"></textarea>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">发表时间:</label>
                        <div class='col-sm-10'>
                             <input type='text' class="form-control" id='publish_date'  name="publish_date"  placeholder="请选择论文发表时间"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">文件:</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="file" name="file" placeholder="">
                        </div>
                    </div>
                </form>
                <iframe src="" frameborder="0" name="frameName" style="display:none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closemodal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="upload_check();" >
                    上传
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    <!--*******************************************************************************************************-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">
                        论文编辑
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="updateForm" th:action="@{/update/paper}" target="frameName" onsubmit="return false" class="form-horizontal" role="form" method="post" enctype="multipart/form-data" >
                        <div class="form-group" style="display:none">
                            <label for="" class="col-sm-2 control-label">ID</label>  <!--placeholder="frank"  -->
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="updateId" name="updateId">
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label for="" class="col-sm-2 control-label">username</label>  <!--placeholder="frank"  -->
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="updateUsername" name="updateUsername">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="" class="col-sm-2 control-label">标题:</label>  <!--placeholder="frank"  -->
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" rows="10" id="updateTitle" name="updateTitle" placeholder="请输入论文标题"></textarea>
                            </div>
                        </div>
                    </form>
                    <iframe src="" frameborder="0" name="frameName" style="display:none;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeupdatemodal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="update_check();" >
                        更新
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    <!--************************************************************************************************-->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade " id="paperSetModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel" >
                    置顶Paper
                </h4>
            </div>
            <div class="modal-body">
            <form role="form"  class="form-horizontal">
                  <div class="form-group">
                     <label for="" class="col-sm-2 control-label">1:</label>
                      <div class="col-sm-10">
                         <select class="form-control" id="no1">
                             <div th:each="paper : ${model.list}">
                              <option th:attr="id=${paper.id}" th:text="${paper.getOptionTitle()}"></option>
                             </div>
                          </select>
                     </div>
                  </div>
                  <div class="form-group">
                       <label for="" class="col-sm-2 control-label">2:</label>
                        <div class="col-sm-10">
                           <select class="form-control" id="no2">
                               <div th:each="paper : ${model.list}">
                                <option th:attr="id=${paper.id}" th:text="${paper.getOptionTitle()}"></option>
                               </div>
                            </select>
                       </div>
                    </div>
                    <div class="form-group">
                         <label for="" class="col-sm-2 control-label">3:</label>
                          <div class="col-sm-10">
                             <select class="form-control" id="no3" >
                                <div th:each="paper : ${model.list}">
                                 <option th:attr="id=${paper.id}" th:text="${paper.getOptionTitle()}"></option>
                                </div>
                               </select>
                         </div>
                      </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closemodal_paperSet">关闭
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="paperSetSure();">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    <script th:src="@{/js/admins/formvalidator.js}"></script>
    <script th:src="@{/js/admins/submit.js}"></script>
    <script th:src="@{/js/admins/deletePaper.js}"></script>
    <script th:src="@{/js/admins/checkBoxClick.js}"></script>
    <script th:src="@{/js/admins/updateFormCheck.js}"></script>
</body>
</html>