<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container{
            padding-left: 200px;
        }
    </style>
</head>
<body>

<div class="row bg">
<div class="container">
    <div class="projects-header page-header text-left">
        <h2>Facult</h2>
    </div>
     <div class="row">
       <div class="col-sm-3">
         <img src="/img/1.png" width="150px" height="250px">
       </div>
        <dic class="col-sm-4">

                <h4><strong>杨志勇</strong></h4>
                    <!--<div class="col-md-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true">城市:北京  </span></div>-->
                    <!--<div class="col-md-2"><span class="glyphicon glyphicon-earphone" aria-hidden="true">联系电话:33543534544</span></div>-->
               <p>家居交接给 够我金安国纪高管加奇偶埃及哦 偶爱就够你积极哦啊个解耦我按结构我软件奇偶家机构入门</p>
            <a>查看更多</a>
        </dic>
     </div>
    <div class="projects-header page-header">

        <div class="row">
            <div class="col-sm-3">
                <img src="https://waylau.com/images/waylau_181_181.jpg" width="150px" height="250px">
            </div>
            <dic class="col-sm-4">

                <h4><strong>杨志勇</strong></h4>
                <!--<div class="col-md-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true">城市:北京  </span></div>-->
                <!--<div class="col-md-2"><span class="glyphicon glyphicon-earphone" aria-hidden="true">联系电话:33543534544</span></div>-->
                <p>家居交接给 够我金安国纪高管加奇偶埃及哦 偶爱就够你积极哦啊个解耦我按结构我软件奇偶家机构入门</p>
                <a>查看更多</a>
            </dic>
        </div>
    </div>
</div>
<!--************************************************************************************-->
    <div class="container">
    <div class="projects-header page-header text-left">
        <h2>Student</h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="https://waylau.com/images/waylau_181_181.jpg" width="150px" height="250px">
        </div>
        <dic class="col-sm-4">

            <h4><strong>杨志勇</strong></h4>
            <!--<div class="col-md-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true">城市:北京  </span></div>-->
            <!--<div class="col-md-2"><span class="glyphicon glyphicon-earphone" aria-hidden="true">联系电话:33543534544</span></div>-->
            <p>家居交接给 够我金安国纪高管加奇偶埃及哦 偶爱就够你积极哦啊个解耦我按结构我软件奇偶家机构入门</p>
        </dic>
    </div>
    <div class="projects-header page-header">

    </div>
</div>
</div>

<!--*********************************************************************************************************************-->
<div class="container">
    <div class="projects-header page-header text-left">
        <h2>Postdoctoral Fellows</h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="https://waylau.com/images/waylau_181_181.jpg" width="150px" height="250px">
        </div>
        <dic class="col-sm-4">

            <h4><strong>杨志勇</strong></h4>
            <!--<div class="col-md-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true">城市:北京  </span></div>-->
            <!--<div class="col-md-2"><span class="glyphicon glyphicon-earphone" aria-hidden="true">联系电话:33543534544</span></div>-->
            <p>家居交接给 够我金安国纪高管加奇偶埃及哦 偶爱就够你积极哦啊个解耦我按结构我软件奇偶家机构入门</p>
        </dic>
    </div>
    <div class="projects-header page-header">

    </div>
</div>
</div>
<!--*********************************************************-->
</body>
</html>